@import './variables.css';
@import './reset.css';

/* Global Utility Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-md);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}